@tailwind base;
@tailwind components;
@tailwind utilities;

/* .hero {
    background-image: url("/src/assets/bg-1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
} */
/* ll */


/* resume btn */
/* From Uiverse.io by Pradeepsaranbishnoi */
.voltage-button {
    position: relative;
}

.voltage-button button {
    /* color: white; */
    /* background: #0D1127; */
    /* padding: .5rem 1rem; */
    border-radius: 10px;
    border: 1px solid #59f397;
    font-size: .8rem;
    line-height: 1em;
    letter-spacing: 0.075em;
    transition: background 0.3s;
}

.voltage-button button:hover {
    cursor: pointer;
    /* background: #0F1C53; */
}

.voltage-button button:hover+svg,
.voltage-button button:hover+svg+.dots {
    opacity: 1;
}

.voltage-button svg {
    display: block;
    position: absolute;
    top: -0.75em;
    left: -0.25em;
    width: calc(100% + 0.5em);
    height: calc(100% + 1.5em);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s;
    transition-delay: 0.1s;
}

.voltage-button svg path {
    stroke-dasharray: 100;
    filter: url("#glow");
}

.voltage-button svg path.line-1 {
    stroke: #f6de8d;
    stroke-dashoffset: 0;
    animation: spark-1 3s linear infinite;
}

.voltage-button svg path.line-2 {
    stroke: #6bfeff;
    stroke-dashoffset: 500;
    animation: spark-2 3s linear infinite;
}

.voltage-button .dots {
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 0.4s;
}

.voltage-button .dots .dot {
    width: 1rem;
    height: 1rem;
    background: white;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
}

.voltage-button .dots .dot-1 {
    top: 0;
    left: 20%;
    animation: fly-up 3s linear infinite;
}

.voltage-button .dots .dot-2 {
    top: 0;
    left: 55%;
    animation: fly-up 3s linear infinite;
    animation-delay: 0.5s;
}

.voltage-button .dots .dot-3 {
    top: 0;
    left: 80%;
    animation: fly-up 3s linear infinite;
    animation-delay: 1s;
}

.voltage-button .dots .dot-4 {
    bottom: 0;
    left: 30%;
    animation: fly-down 3s linear infinite;
    animation-delay: 2.5s;
}

.voltage-button .dots .dot-5 {
    bottom: 0;
    left: 65%;
    animation: fly-down 3s linear infinite;
    animation-delay: 1.5s;
}

@keyframes spark-1 {
    to {
        stroke-dashoffset: -1000;
    }
}

@keyframes spark-2 {
    to {
        stroke-dashoffset: -500;
    }
}

@keyframes fly-up {
    0% {
        opacity: 0;
        transform: translateY(0) scale(0.2);
    }

    5% {
        opacity: 1;
        transform: translateY(-1.5rem) scale(0.4);
    }

    10%,
    100% {
        opacity: 0;
        transform: translateY(-3rem) scale(0.2);
    }
}

@keyframes fly-down {
    0% {
        opacity: 0;
        transform: translateY(0) scale(0.2);
    }

    5% {
        opacity: 1;
        transform: translateY(1.5rem) scale(0.4);
    }

    10%,
    100% {
        opacity: 0;
        transform: translateY(3rem) scale(0.2);
    }
}

/* resume btn */

@keyframes pulse-slow {

    0%,
    100% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.3;
    }
}

body {
    background-color: #020420;
    min-height: 100vh;
}

.animate-pulse-slow {
    animation: pulse-slow 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animation-delay-2000 {
    animation-delay: 2s;
}

.animation-delay-4000 {
    animation-delay: 4s;
}

.bgcolors {
    background-color: hsla(120, 0%, 0%, 1);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1799 1799' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at 7% 84%, hsla(270, 100%, 48%, 0.88) 1%, transparent 85%), radial-gradient(circle at 68% 22%, hsla(38, 91%, 75%, 1) 15%, transparent 58%), radial-gradient(circle at 32% 53%, hsla(61, 84%, 73%, 1) 20%, transparent 61%), radial-gradient(circle at 100% 58%, hsla(247, 99%, 73%, 1) 7%, transparent 70%), radial-gradient(circle at 27% 44%, hsla(221.02941176470594, 73%, 66%, 1) 10%, transparent 81%), radial-gradient(circle at 28% 16%, hsla(5, 84%, 78%, 1) 15%, transparent 74%), radial-gradient(circle at 93% 14%, hsla(51, 89%, 79%, 1) 12%, transparent 88%);
    background-blend-mode: overlay, normal, normal, normal, normal, normal, normal, normal;
}

/*mm  */

.magicpattern {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 4572 2572%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%224572%22 height=%222572%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h4572v2572H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23020420%22 d=%22M0 0h4572v2572H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%234c4e72%22 stroke-width=%221.829%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M175.846 0h175.846v175.846H175.846zM351.692 0h175.846v175.846H351.692z%22%2F%3E%3Cpath fill=%22%234c4e72ca%22 d=%22M527.538 0h175.846v175.846H527.538z%22%2F%3E%3Cpath fill=%22none%22 d=%22M879.231 0h175.846v175.846H879.231zM1055.077 0h175.846v175.846h-175.846zM1230.923 0h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7296%22 d=%22M1406.769 0h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1758.462 0h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72cc%22 d=%22M2110.154 0H2286v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2286 0h175.846v175.846H2286zM2637.692 0h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e723f%22 d=%22M2813.538 0h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7265%22 d=%22M3165.231 0h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7269%22 d=%22M3341.077 0h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3516.923 0h175.846v175.846h-175.846zM3868.615 0h175.846v175.846h-175.846zM4220.308 0h175.846v175.846h-175.846zM4396.154 0H4572v175.846h-175.846zM0 175.846h175.846v175.846H0zM175.846 175.846h175.846v175.846H175.846z%22%2F%3E%3Cpath fill=%22%234c4e7255%22 d=%22M703.385 175.846h175.846v175.846H703.385z%22%2F%3E%3Cpath fill=%22%234c4e724f%22 d=%22M1230.923 175.846h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1406.769 175.846h175.846v175.846h-175.846zM1934.308 175.846h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7274%22 d=%22M2110.154 175.846H2286v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2286 175.846h175.846v175.846H2286z%22%2F%3E%3Cpath fill=%22%234c4e7206%22 d=%22M2637.692 175.846h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2813.538 175.846h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72ae%22 d=%22M2989.385 175.846h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e720c%22 d=%22M3165.231 175.846h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3516.923 175.846h175.846v175.846h-175.846zM3692.769 175.846h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72f8%22 d=%22M4044.462 175.846h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M4396.154 175.846H4572v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e721c%22 d=%22M0 351.692h175.846v175.846H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M527.538 351.692h175.846v175.846H527.538z%22%2F%3E%3Cpath fill=%22%234c4e7216%22 d=%22M703.385 351.692h175.846v175.846H703.385z%22%2F%3E%3Cpath fill=%22%234c4e72d3%22 d=%22M879.231 351.692h175.846v175.846H879.231z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1055.077 351.692h175.846v175.846h-175.846zM1406.769 351.692h175.846v175.846h-175.846zM1582.615 351.692h175.846v175.846h-175.846zM1758.462 351.692h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e726d%22 d=%22M1934.308 351.692h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2110.154 351.692H2286v175.846h-175.846zM2286 351.692h175.846v175.846H2286zM2461.846 351.692h175.846v175.846h-175.846zM2813.538 351.692h175.846v175.846h-175.846zM3165.231 351.692h175.846v175.846h-175.846zM3341.077 351.692h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3516.923 351.692h175.846v175.846h-175.846zM3692.769 351.692h175.846v175.846h-175.846zM4044.462 351.692h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e722e%22 d=%22M4220.308 351.692h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M4396.154 351.692H4572v175.846h-175.846zM0 527.538h175.846v175.846H0zM175.846 527.538h175.846v175.846H175.846z%22%2F%3E%3Cpath fill=%22%234c4e720f%22 d=%22M527.538 527.538h175.846v175.846H527.538z%22%2F%3E%3Cpath fill=%22%234c4e7234%22 d=%22M703.385 527.538h175.846v175.846H703.385z%22%2F%3E%3Cpath fill=%22none%22 d=%22M879.231 527.538h175.846v175.846H879.231zM1055.077 527.538h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e723c%22 d=%22M1230.923 527.538h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72d3%22 d=%22M1582.615 527.538h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7294%22 d=%22M1758.462 527.538h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1934.308 527.538h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7297%22 d=%22M2110.154 527.538H2286v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2286 527.538h175.846v175.846H2286z%22%2F%3E%3Cpath fill=%22%234c4e72d4%22 d=%22M2461.846 527.538h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2813.538 527.538h175.846v175.846h-175.846zM3165.231 527.538h175.846v175.846h-175.846zM3516.923 527.538h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72e7%22 d=%22M3692.769 527.538h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7217%22 d=%22M4220.308 527.538h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M4396.154 527.538H4572v175.846h-175.846zM0 703.385h175.846v175.846H0z%22%2F%3E%3Cpath fill=%22%234c4e72f2%22 d=%22M175.846 703.385h175.846v175.846H175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M527.538 703.385h175.846v175.846H527.538zM703.385 703.385h175.846v175.846H703.385zM879.231 703.385h175.846v175.846H879.231zM1055.077 703.385h175.846v175.846h-175.846zM1406.769 703.385h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72bc%22 d=%22M1582.615 703.385h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1934.308 703.385h175.846v175.846h-175.846zM2110.154 703.385H2286v175.846h-175.846zM2286 703.385h175.846v175.846H2286zM2461.846 703.385h175.846v175.846h-175.846zM2637.692 703.385h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7237%22 d=%22M3165.231 703.385h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e724d%22 d=%22M3341.077 703.385h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7286%22 d=%22M3516.923 703.385h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3692.769 703.385h175.846v175.846h-175.846zM4044.462 703.385h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72a3%22 d=%22M4220.308 703.385h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M4396.154 703.385H4572v175.846h-175.846zM0 879.231h175.846v175.846H0z%22%2F%3E%3Cpath fill=%22%234c4e726f%22 d=%22M175.846 879.231h175.846v175.846H175.846z%22%2F%3E%3Cpath fill=%22%234c4e72ea%22 d=%22M527.538 879.231h175.846v175.846H527.538z%22%2F%3E%3Cpath fill=%22none%22 d=%22M703.385 879.231h175.846v175.846H703.385z%22%2F%3E%3Cpath fill=%22%234c4e72f3%22 d=%22M879.231 879.231h175.846v175.846H879.231z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1055.077 879.231h175.846v175.846h-175.846zM1406.769 879.231h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72e8%22 d=%22M1582.615 879.231h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1758.462 879.231h175.846v175.846h-175.846zM1934.308 879.231h175.846v175.846h-175.846zM2110.154 879.231H2286v175.846h-175.846zM2286 879.231h175.846v175.846H2286z%22%2F%3E%3Cpath fill=%22%234c4e72bd%22 d=%22M2637.692 879.231h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2813.538 879.231h175.846v175.846h-175.846zM2989.385 879.231h175.846v175.846h-175.846zM3341.077 879.231h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3516.923 879.231h175.846v175.846h-175.846zM3692.769 879.231h175.846v175.846h-175.846zM3868.615 879.231h175.846v175.846h-175.846zM4044.462 879.231h175.846v175.846h-175.846zM4220.308 879.231h175.846v175.846h-175.846zM4396.154 879.231H4572v175.846h-175.846zM0 1055.077h175.846v175.846H0z%22%2F%3E%3Cpath fill=%22%234c4e72d3%22 d=%22M351.692 1055.077h175.846v175.846H351.692z%22%2F%3E%3Cpath fill=%22none%22 d=%22M527.538 1055.077h175.846v175.846H527.538zM703.385 1055.077h175.846v175.846H703.385z%22%2F%3E%3Cpath fill=%22%234c4e7205%22 d=%22M1055.077 1055.077h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7272%22 d=%22M1230.923 1055.077h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1406.769 1055.077h175.846v175.846h-175.846zM1582.615 1055.077h175.846v175.846h-175.846zM1758.462 1055.077h175.846v175.846h-175.846zM1934.308 1055.077h175.846v175.846h-175.846zM2110.154 1055.077H2286v175.846h-175.846zM2461.846 1055.077h175.846v175.846h-175.846zM2637.692 1055.077h175.846v175.846h-175.846zM2813.538 1055.077h175.846v175.846h-175.846zM3165.231 1055.077h175.846v175.846h-175.846zM3341.077 1055.077h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e723b%22 d=%22M3516.923 1055.077h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3692.769 1055.077h175.846v175.846h-175.846zM4044.462 1055.077h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7254%22 d=%22M4220.308 1055.077h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 1230.923h175.846v175.846H0zM175.846 1230.923h175.846v175.846H175.846z%22%2F%3E%3Cpath fill=%22%234c4e725e%22 d=%22M351.692 1230.923h175.846v175.846H351.692z%22%2F%3E%3Cpath fill=%22none%22 d=%22M527.538 1230.923h175.846v175.846H527.538z%22%2F%3E%3Cpath fill=%22%234c4e7289%22 d=%22M703.385 1230.923h175.846v175.846H703.385z%22%2F%3E%3Cpath fill=%22none%22 d=%22M879.231 1230.923h175.846v175.846H879.231zM1055.077 1230.923h175.846v175.846h-175.846zM1230.923 1230.923h175.846v175.846h-175.846zM1758.462 1230.923h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e723e%22 d=%22M1934.308 1230.923h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2110.154 1230.923H2286v175.846h-175.846zM2286 1230.923h175.846v175.846H2286zM2461.846 1230.923h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7219%22 d=%22M2637.692 1230.923h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2989.385 1230.923h175.846v175.846h-175.846zM3341.077 1230.923h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3516.923 1230.923h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e728f%22 d=%22M3868.615 1230.923h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M4044.462 1230.923h175.846v175.846h-175.846zM4220.308 1230.923h175.846v175.846h-175.846zM4396.154 1230.923H4572v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7283%22 d=%22M0 1406.769h175.846v175.846H0z%22%2F%3E%3Cpath fill=%22%234c4e7231%22 d=%22M527.538 1406.769h175.846v175.846H527.538z%22%2F%3E%3Cpath fill=%22none%22 d=%22M703.385 1406.769h175.846v175.846H703.385zM879.231 1406.769h175.846v175.846H879.231z%22%2F%3E%3Cpath fill=%22%234c4e72ee%22 d=%22M1055.077 1406.769h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1406.769 1406.769h175.846v175.846h-175.846zM1582.615 1406.769h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7205%22 d=%22M1758.462 1406.769h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1934.308 1406.769h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72a3%22 d=%22M2110.154 1406.769H2286v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2286 1406.769h175.846v175.846H2286z%22%2F%3E%3Cpath fill=%22%234c4e72fb%22 d=%22M2461.846 1406.769h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2637.692 1406.769h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72ec%22 d=%22M2813.538 1406.769h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2989.385 1406.769h175.846v175.846h-175.846zM3165.231 1406.769h175.846v175.846h-175.846zM3341.077 1406.769h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3516.923 1406.769h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e722e%22 d=%22M3868.615 1406.769h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M4044.462 1406.769h175.846v175.846h-175.846zM4220.308 1406.769h175.846v175.846h-175.846zM4396.154 1406.769H4572v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e726d%22 d=%22M175.846 1582.615h175.846v175.846H175.846z%22%2F%3E%3Cpath fill=%22%234c4e728c%22 d=%22M527.538 1582.615h175.846v175.846H527.538z%22%2F%3E%3Cpath fill=%22none%22 d=%22M703.385 1582.615h175.846v175.846H703.385z%22%2F%3E%3Cpath fill=%22%234c4e72ba%22 d=%22M879.231 1582.615h175.846v175.846H879.231z%22%2F%3E%3Cpath fill=%22%234c4e7200%22 d=%22M1055.077 1582.615h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72f0%22 d=%22M1230.923 1582.615h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1582.615 1582.615h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e722c%22 d=%22M1758.462 1582.615h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72f7%22 d=%22M1934.308 1582.615h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2110.154 1582.615H2286v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e723f%22 d=%22M2286 1582.615h175.846v175.846H2286z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2637.692 1582.615h175.846v175.846h-175.846zM2989.385 1582.615h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72d2%22 d=%22M3165.231 1582.615h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7298%22 d=%22M3341.077 1582.615h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3692.769 1582.615h175.846v175.846h-175.846zM3868.615 1582.615h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72ed%22 d=%22M4220.308 1582.615h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M4396.154 1582.615H4572v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72a9%22 d=%22M175.846 1758.462h175.846v175.846H175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M351.692 1758.462h175.846v175.846H351.692z%22%2F%3E%3Cpath fill=%22%234c4e728a%22 d=%22M527.538 1758.462h175.846v175.846H527.538z%22%2F%3E%3Cpath fill=%22%234c4e7270%22 d=%22M703.385 1758.462h175.846v175.846H703.385z%22%2F%3E%3Cpath fill=%22%234c4e728a%22 d=%22M879.231 1758.462h175.846v175.846H879.231z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1055.077 1758.462h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72f7%22 d=%22M1230.923 1758.462h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1406.769 1758.462h175.846v175.846h-175.846zM1582.615 1758.462h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72b4%22 d=%22M1758.462 1758.462h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72b8%22 d=%22M1934.308 1758.462h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2110.154 1758.462H2286v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72a3%22 d=%22M2286 1758.462h175.846v175.846H2286z%22%2F%3E%3Cpath fill=%22%234c4e72a0%22 d=%22M2813.538 1758.462h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2989.385 1758.462h175.846v175.846h-175.846zM3341.077 1758.462h175.846v175.846h-175.846zM3868.615 1758.462h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7244%22 d=%22M4044.462 1758.462h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M4220.308 1758.462h175.846v175.846h-175.846zM4396.154 1758.462H4572v175.846h-175.846zM0 1934.308h175.846v175.846H0zM175.846 1934.308h175.846v175.846H175.846zM527.538 1934.308h175.846v175.846H527.538zM703.385 1934.308h175.846v175.846H703.385zM1055.077 1934.308h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7293%22 d=%22M1230.923 1934.308h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e727d%22 d=%22M1406.769 1934.308h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1582.615 1934.308h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7216%22 d=%22M2110.154 1934.308H2286v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2286 1934.308h175.846v175.846H2286zM2461.846 1934.308h175.846v175.846h-175.846zM2813.538 1934.308h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72ba%22 d=%22M2989.385 1934.308h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72b7%22 d=%22M3165.231 1934.308h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3341.077 1934.308h175.846v175.846h-175.846zM3692.769 1934.308h175.846v175.846h-175.846zM4044.462 1934.308h175.846v175.846h-175.846zM4220.308 1934.308h175.846v175.846h-175.846zM4396.154 1934.308H4572v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7216%22 d=%22M0 2110.154h175.846V2286H0z%22%2F%3E%3Cpath fill=%22%234c4e7230%22 d=%22M175.846 2110.154h175.846V2286H175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M527.538 2110.154h175.846V2286H527.538zM703.385 2110.154h175.846V2286H703.385zM879.231 2110.154h175.846V2286H879.231zM1230.923 2110.154h175.846V2286h-175.846zM1406.769 2110.154h175.846V2286h-175.846zM1582.615 2110.154h175.846V2286h-175.846zM1934.308 2110.154h175.846V2286h-175.846zM2286 2110.154h175.846V2286H2286z%22%2F%3E%3Cpath fill=%22%234c4e7243%22 d=%22M2461.846 2110.154h175.846V2286h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2637.692 2110.154h175.846V2286h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e722e%22 d=%22M2813.538 2110.154h175.846V2286h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e723b%22 d=%22M2989.385 2110.154h175.846V2286h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3165.231 2110.154h175.846V2286h-175.846zM3516.923 2110.154h175.846V2286h-175.846zM3692.769 2110.154h175.846V2286h-175.846zM3868.615 2110.154h175.846V2286h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7241%22 d=%22M4044.462 2110.154h175.846V2286h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M4220.308 2110.154h175.846V2286h-175.846zM4396.154 2110.154H4572V2286h-175.846zM0 2286h175.846v175.846H0z%22%2F%3E%3Cpath fill=%22%234c4e723f%22 d=%22M351.692 2286h175.846v175.846H351.692z%22%2F%3E%3Cpath fill=%22none%22 d=%22M703.385 2286h175.846v175.846H703.385zM879.231 2286h175.846v175.846H879.231z%22%2F%3E%3Cpath fill=%22%234c4e722b%22 d=%22M1055.077 2286h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1230.923 2286h175.846v175.846h-175.846zM1406.769 2286h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7245%22 d=%22M1582.615 2286h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e724f%22 d=%22M1758.462 2286h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1934.308 2286h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72bb%22 d=%22M2110.154 2286H2286v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M2461.846 2286h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7215%22 d=%22M2813.538 2286h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e7203%22 d=%22M2989.385 2286h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e729a%22 d=%22M3165.231 2286h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3341.077 2286h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3516.923 2286h175.846v175.846h-175.846zM3692.769 2286h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72ef%22 d=%22M3868.615 2286h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M4044.462 2286h175.846v175.846h-175.846zM0 2461.846h175.846v175.846H0z%22%2F%3E%3Cpath fill=%22%234c4e7281%22 d=%22M175.846 2461.846h175.846v175.846H175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M527.538 2461.846h175.846v175.846H527.538zM703.385 2461.846h175.846v175.846H703.385zM879.231 2461.846h175.846v175.846H879.231zM1055.077 2461.846h175.846v175.846h-175.846zM1230.923 2461.846h175.846v175.846h-175.846zM1406.769 2461.846h175.846v175.846h-175.846zM1582.615 2461.846h175.846v175.846h-175.846zM1758.462 2461.846h175.846v175.846h-175.846zM1934.308 2461.846h175.846v175.846h-175.846zM2286 2461.846h175.846v175.846H2286zM2637.692 2461.846h175.846v175.846h-175.846zM2813.538 2461.846h175.846v175.846h-175.846zM2989.385 2461.846h175.846v175.846h-175.846zM3165.231 2461.846h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e726a%22 d=%22M3341.077 2461.846h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e72f8%22 d=%22M3516.923 2461.846h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22%234c4e726d%22 d=%22M3692.769 2461.846h175.846v175.846h-175.846z%22%2F%3E%3Cpath fill=%22none%22 d=%22M3868.615 2461.846h175.846v175.846h-175.846zM4220.308 2461.846h175.846v175.846h-175.846zM4396.154 2461.846H4572v175.846h-175.846z%22%2F%3E%3C%2Fg%3E%3Cpath fill=%22%23f3f3f3%22 filter=%22url(%23c)%22 opacity=%22.8%22 d=%22M0 0h4572v2572H0z%22%2F%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22 stop-opacity=%22.88%22%2F%3E%3Cstop offset=%2290%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3Cfilter id=%22c%22 x=%22-1828.8%22 y=%22-1028.8%22 width=%226400.8%22 height=%223600.8%22 filterUnits=%22userSpaceOnUse%22 primitiveUnits=%22userSpaceOnUse%22 color-interpolation-filters=%22linearRGB%22%3E%3CfeTurbulence type=%22fractalNoise%22 baseFrequency=%22.105%22 numOctaves=%224%22 seed=%2215%22 stitchTiles=%22no-stitch%22 x=%220%22 y=%220%22 width=%224572%22 height=%222572%22 result=%22turbulence%22%2F%3E%3CfeSpecularLighting surfaceScale=%2210%22 specularConstant=%22.07%22 specularExponent=%2220%22 lighting-color=%22%23fff%22 x=%220%22 y=%220%22 width=%224572%22 height=%222572%22 in=%22turbulence%22 result=%22specularLighting%22%3E%3CfeDistantLight azimuth=%223%22 elevation=%22100%22%2F%3E%3C%2FfeSpecularLighting%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}


.magicpattern-w {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 4572 2572%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%224572%22 height=%222572%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h4572v2572H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23fff%22 d=%22M0 0h4572v2572H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%2309d882%22 stroke-width=%222.286%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M1466.85 0h209.55v209.55h-209.55zM2095.5 0h209.55v209.55H2095.5z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d88229%22 d=%22M2305.05 0h209.55v209.55h-209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M2724.15 0h209.55v209.55h-209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d8821e%22 d=%22M2933.7 0h209.55v209.55H2933.7z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M3352.8 0h209.55v209.55H3352.8zM3771.9 0h209.55v209.55H3771.9zM4400.55 0h209.55v209.55h-209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d8829f%22 d=%22M4610.1 0h209.55v209.55H4610.1z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M209.55 209.55H419.1V419.1H209.55zM2305.05 209.55h209.55V419.1h-209.55zM3352.8 209.55h209.55V419.1H3352.8zM4610.1 209.55h209.55V419.1H4610.1z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d882cb%22 d=%22M4819.65 209.55h209.55V419.1h-209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 419.1h209.55v209.55H0z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d88218%22 d=%22M209.55 419.1H419.1v209.55H209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M2933.7 419.1h209.55v209.55H2933.7z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d88221%22 d=%22M3352.8 419.1h209.55v209.55H3352.8z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d882ff%22 d=%22M3771.9 419.1h209.55v209.55H3771.9z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M4819.65 419.1h209.55v209.55h-209.55zM0 628.65h209.55V838.2H0z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d88228%22 d=%22M2305.05 628.65h209.55V838.2h-209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d882bf%22 d=%22M2514.6 628.65h209.55V838.2H2514.6z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M2933.7 628.65h209.55V838.2H2933.7zM209.55 838.2H419.1v209.55H209.55zM419.1 838.2h209.55v209.55H419.1z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d882fc%22 d=%22M1676.4 838.2h209.55v209.55H1676.4z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M3352.8 838.2h209.55v209.55H3352.8zM3981.45 838.2H4191v209.55h-209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d8822d%22 d=%22M628.65 1047.75H838.2v209.55H628.65z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M1676.4 1047.75h209.55v209.55H1676.4zM2095.5 1047.75h209.55v209.55H2095.5zM2305.05 1047.75h209.55v209.55h-209.55zM3352.8 1047.75h209.55v209.55H3352.8zM3771.9 1047.75h209.55v209.55H3771.9z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d8822c%22 d=%22M3981.45 1047.75H4191v209.55h-209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M4819.65 1047.75h209.55v209.55h-209.55zM0 1257.3h209.55v209.55H0z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d8822d%22 d=%22M419.1 1257.3h209.55v209.55H419.1z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M1257.3 1257.3h209.55v209.55H1257.3zM4400.55 1257.3h209.55v209.55h-209.55zM4819.65 1257.3h209.55v209.55h-209.55zM0 1466.85h209.55v209.55H0zM419.1 1466.85h209.55v209.55H419.1zM1257.3 1466.85h209.55v209.55H1257.3zM2933.7 1466.85h209.55v209.55H2933.7zM3352.8 1466.85h209.55v209.55H3352.8z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M3562.35 1466.85h209.55v209.55h-209.55zM3771.9 1466.85h209.55v209.55H3771.9zM0 1676.4h209.55v209.55H0zM628.65 1676.4H838.2v209.55H628.65zM838.2 1676.4h209.55v209.55H838.2zM1047.75 1676.4h209.55v209.55h-209.55zM2724.15 1676.4h209.55v209.55h-209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M2933.7 1676.4h209.55v209.55H2933.7zM3981.45 1676.4H4191v209.55h-209.55zM4191 1676.4h209.55v209.55H4191zM0 1885.95h209.55v209.55H0zM1676.4 1885.95h209.55v209.55H1676.4z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d882cb%22 d=%22M2095.5 1885.95h209.55v209.55H2095.5z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M2933.7 1885.95h209.55v209.55H2933.7zM3562.35 1885.95h209.55v209.55h-209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d88215%22 d=%22M3771.9 1885.95h209.55v209.55H3771.9z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 2095.5h209.55v209.55H0zM209.55 2095.5H419.1v209.55H209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d88273%22 d=%22M838.2 2095.5h209.55v209.55H838.2z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M2514.6 2095.5h209.55v209.55H2514.6zM2724.15 2095.5h209.55v209.55h-209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d88294%22 d=%22M2933.7 2095.5h209.55v209.55H2933.7z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d88251%22 d=%22M3771.9 2095.5h209.55v209.55H3771.9z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d88286%22 d=%22M4819.65 2095.5h209.55v209.55h-209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d88217%22 d=%22M209.55 2305.05H419.1v209.55H209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d882ee%22 d=%22M838.2 2305.05h209.55v209.55H838.2z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M1047.75 2305.05h209.55v209.55h-209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d88203%22 d=%22M2095.5 2305.05h209.55v209.55H2095.5z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M2305.05 2305.05h209.55v209.55h-209.55zM3771.9 2305.05h209.55v209.55H3771.9zM4819.65 2305.05h209.55v209.55h-209.55zM838.2 2514.6h209.55v209.55H838.2z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d88250%22 d=%22M1885.95 2514.6h209.55v209.55h-209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M2933.7 2514.6h209.55v209.55H2933.7zM3771.9 2514.6h209.55v209.55H3771.9z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M3981.45 2514.6H4191v209.55h-209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d88270%22 d=%22M4610.1 2514.6h209.55v209.55H4610.1z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M628.65 2724.15H838.2v209.55H628.65z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d88216%22 d=%22M1047.75 2724.15h209.55v209.55h-209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d882fb%22 d=%22M1885.95 2724.15h209.55v209.55h-209.55z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22%2309d882e1%22 d=%22M3352.8 2724.15h209.55v209.55H3352.8z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M3771.9 2724.15h209.55v209.55H3771.9z%22 stroke-width=%222.5146%22%2F%3E%3Cpath fill=%22none%22 d=%22M3981.45 2724.15H4191v209.55h-209.55z%22 stroke-width=%222.5146%22%2F%3E%3C%2Fg%3E%3Cpath fill=%22%23f3f3f3%22 filter=%22url(%23c)%22 opacity=%22.8%22 d=%22M0 0h4572v2572H0z%22%2F%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22 stop-opacity=%22.886%22%2F%3E%3Cstop offset=%2290.5%25%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3Cfilter id=%22c%22 x=%22-1828.8%22 y=%22-1028.8%22 width=%226400.8%22 height=%223600.8%22 filterUnits=%22userSpaceOnUse%22 primitiveUnits=%22userSpaceOnUse%22 color-interpolation-filters=%22linearRGB%22%3E%3CfeTurbulence type=%22fractalNoise%22 baseFrequency=%22.15%22 numOctaves=%224%22 seed=%2215%22 stitchTiles=%22no-stitch%22 x=%220%22 y=%220%22 width=%224572%22 height=%222572%22 result=%22turbulence%22%2F%3E%3CfeSpecularLighting surfaceScale=%2210%22 specularConstant=%22.61%22 specularExponent=%2220%22 lighting-color=%22%23fff%22 x=%220%22 y=%220%22 width=%224572%22 height=%222572%22 in=%22turbulence%22 result=%22specularLighting%22%3E%3CfeDistantLight azimuth=%223%22 elevation=%22100%22%2F%3E%3C%2FfeSpecularLighting%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}




.contect {
    background-image: url("/src/assets/10087.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

}


/* From Uiverse.io by qhns3 */
.patternbg {
    width: 100%;
    /* height: 100%; */

    /* background: #000000; */
    --gap: 5em;
    --line: 1px;
    --color: rgba(76, 74, 74, 0.429);

    background-image: linear-gradient(-90deg,
            transparent calc(var(--gap) - var(--line)),
            var(--color) calc(var(--gap) - var(--line) + 1px),
            var(--color) var(--gap)),
        linear-gradient(0deg,
            transparent calc(var(--gap) - var(--line)),
            var(--color) calc(var(--gap) - var(--line) + 1px),
            var(--color) var(--gap));
    background-size: var(--gap) var(--gap);
}



/* .project {
    background-image: url("/src/assets/10049.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 50px; 
     opacity: 0.1;
} */

:root {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.2rem;
    background: gray;
}

::-webkit-scrollbar-thumb {
    background-color: #00dc82;
    border-radius: 20px;
}






/* ............................... */
.slick-list,
.slick-slider,
.slick-track {
    padding: 1.5rem 0;
}

.center .slick-center .project {
    transform: scale(1.3);
    z-index: 10000;
    transition: all 400ms ease-in-out;
    pointer-events: all;
    opacity: 1;
}

.center .project {
    opacity: 0.7;
    pointer-events: none;
}

@media(max-width: 990px) {
    .center .slick-center .project {
        transform: scale(1);
    }

    .center .project {
        opacity: 1;
        pointer-events: all;
    }
}